@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@900&display=swap");

@font-face {
  font-family: titlefont;
  src: url(font/TTInterfaces-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

hr {
  opacity: 30%;
  margin-bottom: 5px;
}
body {
  background-color: #111420;
  color: white;
  overflow-x: hidden;
}
.main {
  margin-left: 300px;
}

/*sidebar settings*/
.bar {
  position: fixed;
  background-color: #06080a;
  display: block;
  overflow: hidden;
  width: 300px;
  height: 100%;
  padding: 3% 1%;
  display: block;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.menu {
  padding: 10% 10% 10% 10%;
  margin-bottom: 5%;
  color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: start;
  font-size: 20px;
}
.menu-home img {
  margin-right: 10px;
  filter: invert(1);
  height: 20px;
}

.menu:hover {
  transition: 0.3s;
  border-radius: 10px;
  background-color: #5c5c5c;
  color: #ffffff;
}

.profile {
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.line {
  margin-bottom: 50px;
  margin-left: 0% !important;
}
.email {
  position: fixed;
  bottom: 0%;
  width: 280px;
  margin-bottom: 3%;
}

.email p2 {
  display: block;
  opacity: 50%;
}

/*primary content page*/
#home {
  height: 100vh;
  width: auto;
  padding: 0%;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
}

.displaypic {
  display: flex;
  justify-content: center;
}

.catty {
  text-align: center;
  background-image: url("kucing.jpg");
  width: 15em;
  height: 15em;
  object-fit: contain;
  opacity: 100;
  animation: cat 10s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

/*animation for profile*/

.cat {
  position: static;
  overflow: hidden;
  opacity: 100;
  border: 10px solid rgb(59, 58, 58, 0.4);
  padding: 5px;
  width: 15em;
  padding: 1px;
  animation: cat 10s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

@keyframes cat {
  0% {
    border-radius: 80% 20% 40% 70% / 70% 70% 50% 50%;
  }
  25% {
    border-radius: 70% 40% 60% 40% / 50% 50% 50% 50%;
  }
  50% {
    border-radius: 60% 50% 30% 30% / 60% 50% 50% 50%;
  }

  75% {
    border-radius: 40% 60% 50% 30% / 40% 50% 50% 50%;
  }

  100% {
    border-radius: 80% 20% 40% 70% / 70% 70% 50% 50%;
  }
}

.title {
  text-align: center;
  line-height: 1;
}

.title1 {
  color: #ffffff;
  font-family: titlefont;
  font-weight: bold;
  font-size: 2.5em;
}

.title2 {
  color: rgb(179, 101, 70);
  font-size: 2em;
}

/*social media logo*/

.media {
  display: flex;
  justify-content: center;
}

.social {
  height: 20px;
  width: auto;
  filter: invert(1);
  margin: 5px;
  opacity: 0.8;
  transition: 0.3s;
}

#social {
  padding: 0 10px 0 10px;
}
#social:not(:last-child) {
  border-right: 1px solid rgb(255, 255, 255, 0.3);
}

.social:hover {
  transform: translateY(-40%);
}

/*paragraf in profile*/
.paragraf {
  line-height: 1;
  margin: 20px 200px 20px 200px;
  text-align: center;
  opacity: 60%;
}

/*more icon*/
.bottom {
  display: flex;
  justify-content: center;
}
.more {
  border: 2px solid rgb(255, 255, 255, 0.5);
  display: inline-block;
  height: 4em;
  width: 14em;
  padding: 1em;
  text-align: center;
  color: aliceblue;
  background: #111420;
  border-radius: 50px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
  font-weight: bold;
}

.more:hover {
  background-color: #ffffff;
}
.more span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.more span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.more:hover span {
  padding-right: 25px;
  color: #000000;
}

.more:hover span:after {
  opacity: 1;
  right: 0;
}

/*about page*/

#about {
  padding: 5%;
  margin-top: 5%;
  background-color: #13192c;
  height: fit-content;
  overflow: hidden;
}

#about h1 {
  text-align: center;
}

#about p {
  margin-right: 10%;
  opacity: 70%;
  font-size: 20px;
}

#about p::first-line {
  opacity: 100%;
}

.zenitsu {
  padding-top: 20%;
  width: 500px;
  border-radius: 20px;
}

.biodata {
  margin-top: 40px;
  border-radius: 20px;
  background-color: #111420;
  padding: 20px;
}

.biodata h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

/*Portofolio*/
#portofolio {
  height: 100vh;
  padding: 20px;
  padding-top: 20px;
}

#portofolio h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.photo {
  display: flex;
  justify-content: space-around;
}
.photobox {
  border-radius: 10px;
  height: 400px;
  width: auto;
  margin-top: 10px;
  transition: 0.5s;
}

.photobox:hover {
  opacity: 50%;
}

#contact {
  background-color: #13192c;
  height: 100vh;
  padding: 10px;
  padding-left: 20px;
}

#contact h1 {
  margin-top: 20px;
}

#contact p {
  opacity: 0.5;
}

.contact2 {
  display: flex;
  justify-content: space-between;
}

.cont {
  margin-top: 10px;
  background-color: #06080a;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  animation: contact 2s;
  animation-iteration-count: calc();
}

@keyframes contact {
  from {
    transform: translateX(-100%);
    opacity: 0.1;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.input {
  opacity: 0.5;
  display: block;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}
