@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

hr {
  opacity: 30%;
  margin-bottom: 5px;
}
body {
  background-color: #111420;
  color: white;
}
.main {
  margin-left: 300px;
}
.bar {
  position: fixed;
  background-color: #06080a;
  display: block;
  overflow: hidden;
  width: 300px;
  height: 100%;
  padding: 3% 1%;
  display: block;
}
.profile {
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.line {
  margin-bottom: 50px;
  margin-left: 0% !important;
}
.email {
  position: fixed;
  bottom: 0%;
  width: 280px;
  margin-bottom: 3%;
}

.email p2 {
  display: block;
  opacity: 50%;
}

.menu {
  padding: 10% 50% 10% 40%;
  margin-bottom: 5%;
  color: #ffffff;
  text-align: left;
  display: block;
  text-align: left;
}

.menu:hover {
  transition: 0.3s;
  border-radius: 10px;
  background-color: #5c5c5c;
  color: #ffffff;
}

#home {
  height: 100vh;
  width: auto;
  padding: 0%;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
}

.catty {
  display: block;
  text-align: center;
}

/*animation for profile*/

.cat {
  padding: 5px;
  width: 15em;
  border-radius: 80% 20% 40% 70% / 70% 70% 50% 50%;
  padding: 1px;
  animation: cat 10s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

@keyframes cat {
  0% {
    border-radius: 80% 20% 40% 70% / 70% 70% 50% 50%;
  }
  25% {
    border-radius: 50% 50% 60% 40% / 50% 50% 50% 50%;
  }
  50% {
    border-radius: 40% 50% 30% 30% / 60% 50% 50% 50%;
  }

  75% {
    border-radius: 40% 50% 50% 30% / 40% 50% 50% 50%;
  }

  100% {
    border-radius: 80% 20% 40% 70% / 70% 70% 50% 50%;
  }
}

.title {
  text-align: center;
  line-height: 1;
}

.title1 {
  color: #d66910;
  font-size: 2em;
}

.title2 {
  color: white;
}

.paragraf {
  line-height: 1;
  margin: 3%;
  text-align: center;
  opacity: 60%;
}

.more {
  border-style: solid;
  display: inline-block;
  height: 4em;
  width: 14em;
  padding: 1em;
  text-align: center;
  color: aliceblue;
  background: #111420 !important;
  border-radius: 50px;
  border-color: #ffffff;
  border-width: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
  font-weight: bold;
}

.more span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.more span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.more:hover span {
  padding-right: 25px;
}

.more:hover span:after {
  opacity: 1;
  right: 0;
}

.fa {
  padding: 20px;
  float: right;
  font-size: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}
.fa fa home {
  background: #ffffff;
  color: #111420;
}

.fa-facebook {
  background: #ffffff;
  color: #111420;
}

.fa-twitter {
  background: #ffffff;
  color: #111420;
}

.fa-instagram {
  background: #ffffff;
  color: #111420;
}

#about {
  padding: 5%;
  margin-top: 5%;
  background-color: #13192c;
  height: 100vh;
}

#about h1 {
  text-align: center;
}

#about p {
  margin-right: 20%;
  opacity: 50%;
  font-size: 20px;
}

#about p::first-line {
  opacity: 100%;
}

.zenitsu {
  padding-top: 20%;
  width: 500px;
  border-radius: 20px;
}

#portofolio {
  height: 100vh;
  padding: 20px;
  padding-top: 20px;
}

#portofolio h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.photo {
  display: flex;
  justify-content: space-around;
}
.photobox {
  border-radius: 10px;
  height: 400px;
  width: auto;
  margin-top: 10px;
  transition: 0.5s;
}

.photobox:hover {
  opacity: 50%;
}

#contact {
  background-color: #13192c;
  height: 100vh;
}
